################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment/RayTracerFramework - 16012120/RayTracerFramework/.vs/RayTracerSmall/v15/Browse.VC.opendb
